body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-outline-dark {
  background-color: #74787c;
  color: white;
}
h1{
  font-family: 'Anek Gujarati', sans-serif;
  font-weight: bold;
}

li a{
  text-decoration: none;
  color:white;
  margin: 1rem;
  font-size: smaller;
}

li a:hover{
  color:grey;
}